@import "../../../../assets/variables.scss";

.front-content {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  .front-content__inner-container {
    text-align: center;
    height: 100%;
    .front-content__text {
      padding: 4%;
      max-width: 100%;
      height: 100%;

      .front-content__text-title {
        display: grid;
        grid-template-rows: auto-fill;
        height: 100%;

        .text-title-2A {
          font-size: $p-text;
        }

        .text-title-1 {
          font-size: $font-for-card-title;
          font-family: ametist;
          font-weight: 900;
          align-self: end;
          letter-spacing: 0.05em;
          color: $lightНellow;
          text-shadow: 0 0 10px black;
          text-transform: uppercase;
          @media (260px <= width <= 900px) {
            font-weight: 500;
          }
        }

        .barcode-text-style {
          .text-title-2 {
            align-self: end;
            font-family: Barcode_font;
            font-size: $Barcode_font;
            line-height: 1;
          }
        }
      }

      .front-content__text-title > :last-child {
        align-self: end;
      }
    }
  }
}
