@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.swiper-container {
  width: 100%;
  padding-bottom: calc(2vh + 1rem);

  .swiper-content {
    .swiper-slide {
      display: flex;
      justify-content: center;

      .swiper__card {
        width: 100%;

        background-color: #fff;
        transform: none;

        .card-img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin-inline: 1vw;
  }

  .swiper-navBtn {
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  .swiper-container {
    padding-block: calc(2vh + 1rem);

    .swiper-content {
      .swiper-slide {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;

        .swiper__card {
          background-color: #fff;
          transform: none;
          width: auto;
          aspect-ratio: 0.714/1 !important;

          .card-img {
            height: 90vh;
            aspect-ratio: 0.714/1 !important;
          }
        }
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
  padding: calc(0.5vw + 1.2rem);
  background-color: rgb(64, 131, 58);
  border-radius: 50%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: calc(0.5vw + 1rem);
  font-weight: 600;
}




//000000000000000000000000000000000



.swiper__card {
  position: relative;
  overflow: hidden;

  .card-img {
    width: 100%;
    display: block;
  }

  .overlay {
    position: absolute;
    bottom: -100%; // Изначально скрыто за пределами карточки
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Затемнение
    transition: bottom 0.3s ease; // Плавное поднятие
    z-index: 1; // Перекрывает изображение

    .overlay-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;

      .overlay-icon {
        width: 40px;
        height: 40px;
        margin: 5px;
      }

      .overlay-title {
        font-size: 1.2rem;
        margin: 10px 0;
      }

      .overlay-description {
        font-size: 1rem;
        margin: 10px 0;
      }

      .overlay-button {
        position: relative;
        padding: 10px 20px;
        border: none;
        background: #d12e1f;
        color: #fff;
        cursor: pointer;
        transition: background 0.3s ease;
        z-index: 9999;
        &:hover {
          background: #e55a4e;
        }
      }
    }
  }

  &:hover .overlay {
    bottom: 0; // Показать затемнение при наведении
  }
}







