.payment-methods__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (width <= 1024px) {
    margin-bottom: calc(1vh + 1rem);
  }
  .payment-methods__img1 {
    height: calc(10vw + 5rem);
    // aspect-ratio: 0.5/1;
    left: 0%;
  }

  .block__elements-inner {
    flex: 1;
  }

  .payment-methods__title-block {
    margin-bottom: calc(4vh + 1rem);
    display: flex;
    justify-content: center;
    align-items: center;

    .title-block__text {
      font-size: calc(0.6vw + 0.6rem);
      font-weight: 500;
      letter-spacing: 2.2px;
      text-shadow: (2px 2px 5px rgba(0, 0, 0, 0.6));
    }
  }

  .payment-methods__elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: calc(1vw + 1rem);

    @media (max-width: 767px) {
      flex-direction: column;
      gap: calc(1vw + .8rem);
    }

    img {
      cursor: pointer;
    }

    .elements__pay-pal-img {
      width: 100px;
    }

    .elements__visa-img {
      width: 55px;
    }

    .elements__gPay-img {
      width: 60px;
    }

    .elements__apple-pay-img {
      width: 60px;
    }

    .elements__shop-pay-img {
      width: 90px;
    }

    .elements__pay-pal-img,
    .elements__visa-img,
    .elements__gPay-img,
    .elements__apple-pay-img,
    .elements__shop-pay-img {
      filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 1));
      &:hover {
        filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.65));
      }
      &:focus,
      &:active {
        filter: none;
      }
    }
  }

  .payment-methods__img2 {
    width: calc(3vw + 1.5rem);
  }
}
