.footer {
  background: #50735f;
  color: #fff;
  padding-block: calc(2vw + 1rem);

  .container {
    .footer__inner-container {
      .footer__top-wrapper {
      }
      .footer__bottom-wrapper {
      }
    }
  }
}
